.handwriting{
  text-align: center;
}

body {
  background: linear-gradient(to left top, #fffcf2, #ebf3ff) fixed;
}

h1{
  text-align: center;
  font-family: Garamond;
}

p{
  font-family: Garamond;
}


.container{
  text-align: center;
  vertical-align: center;
  margin-top: 1em;
}


.footer {
  position: absolute;
  text-align: center;
  margin-left: 25%;
}

#pic{
  order: 1;
}

#text{
  order:2;
}

@media only screen and (min-width: 769px){
  .footer {
    position: absolute;
    text-align: center;
    margin-left: 41%;
  }

  .container{
    display: flex;
    text-align: center;
    vertical-align: center;
  }

  .item{
    width: 50%;
    margin: 1em;
  }

  .first{
    padding-top: 6em;
  }

}
