.handwriting{
  text-align: center;
}

body {
  background: linear-gradient(to left top, #ebf3ff, #fffcf2) fixed;
}

h1{
  text-align: center;
}


.container{
  display: flex;
  text-align: center;
  vertical-align: center;
}


.item{
  width: 50%;
  margin: 1em;
}

.footer {
  position: absolute;
  text-align: center;
  margin-left: 32%;
}

.first{
  padding-top: 1em;
}
