h1 {
  font-family: Garamond;
  text-align: center;
}

body {
  background: linear-gradient(to left top, #ffffff, #fffcf2) fixed;
}


  .portfolio { /* Masonry container */

    column-gap: 1em;
  }

  img {
    resize: both;
    max-width: 100%;
  }

  .image { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 1em 1em 1em;
  }

  .footer {
    position: absolute;
    right: 25%;
    margin-bottom: 2%;
    margin-left: 50%;
    text-align-last: center;
  }

/*Desktop*/
@media only screen and (min-width: 769px){
  .portfolio { /* Masonry container */
    column-count: 2;
    column-gap: 2em;
  }

  img {
    resize: both;
    max-width: 100%;
  }

  .image { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 1em 1em 1em;
  }

  .footer {
    position: relative;
    margin-bottom: 2%;
    margin-left: 50%;
  }
}
