body {
  background: linear-gradient(to left top, #fffcf2, #ebf3ff) fixed;
}

*{
  font-family: Garamond;
}

  .footer {
    position: absolute;
    text-align: center;
    margin-left: 41%;
  }

  .logo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  padding-top: 75px;
  padding-bottom: 100px;
}

.wood{
  position: absolute;
  width:100%;
}

.footer {
  position: absolute;
  text-align: center;
  margin-left: 15%;
}

.button-cont{
  display: flex;
  justify-content: space-around;
  padding-bottom: 175px;
}

.button-cont {
  display: flex;
  flex-direction: column
}

.button{
  position: relative;
  background: white;
  width: 200px;
  height: 75px;
  text-align: center;
  margin-left: 15%;
}

@media only screen and (min-width: 769px){
  .footer {
    position: absolute;
    text-align: center;
    margin-left: 41%;
  }

  .logo{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  padding-top: 75px;
  padding-bottom: 100px;
}

.wood{
  position: absolute;
  width:100%;
}

.footer {
  position: absolute;
  text-align: center;
  margin-left: 25%;
}

.button-cont{
  display: flex;
  justify-content: space-around;
  padding-bottom: 175px;
}

.button{
  position: relative;
  background: white;
  width: 200px;
  height: 75px;
  text-align: center;
}


}
